package models

import (
	"github.com/herb-go/herb/cache"
	"github.com/herb-go/herb/cache/datastore"
)

//New{{.Pascal}}ModelLoaderFactory create new {{.Pascal}}ModelLoader factory.
//You should create your loader factory in your model cache module.
var New{{.Pascal}}ModelLoaderFactory = func(c cache.Cacheable) func() *{{.Pascal}}ModelLoader {
	return func() *{{.Pascal}}ModelLoader {
		return &{{.Pascal}}ModelLoader{
			Loader: {{.Pascal}}ModelDataSource.NewSyncMapStoreLoader(c),
		}
	}
}

//{{.Pascal}}ModelLoader {{.Raw}} otuput loader
type {{.Pascal}}ModelLoader struct {
	*datastore.Loader
}

//Get get  {{.Raw}} otuput  by given key.
//You should load value first or use the LoadAndGet method
func (l *{{.Pascal}}ModelLoader) Get(key string) *{{.Pascal}}Model {
	v := l.Store.LoadInterface(key)
	if v == nil {
		return nil
	}
	return v.(*{{.Pascal}}Model)
}

//LoadAndGet load and get  {{.Raw}} otuput  by given key.
func (l *{{.Pascal}}ModelLoader) LoadAndGet(key string) (*{{.Pascal}}Model, error) {
	err := l.Load(key)
	if err != nil {
		return nil, err
	}
	return l.Get(key), nil
}


//{{.Pascal}}ModelDataSource  {{.Raw}} model datasource.
//Datasource can used to create  {{.Raw}} model data store loader by {{.Pascal}}ModelDataSource.NewMapStoreLoader or {{.Pascal}}ModelDataSource.NewSyncMapStoreLoader method.
//Member can use datasource as user data provider by RegisterDataProvider method.
var {{.Pascal}}ModelDataSource = datastore.NewDataSource()

func init() {
	{{.Pascal}}ModelDataSource.Creator = func() interface{} {
		return New{{.Pascal}}Model()
	}
	{{.Pascal}}ModelDataSource.SourceLoader = func(keys ...string) (map[string]interface{}, error) {
		var results = map[string]interface{}{}
		for _, v := range keys {
			model, err := {{.Pascal}}.FindByPrimaryKey(v)
			if err != nil {
				return nil, err
			}
			if model == nil {
				continue
			}
			results[v] = model
		}
		return results, nil
	}
}
