package outputs

import (
    "modules/{{.Module}}/models"
)

//New{{.Name.Pascal}}Output create new {{.Name.Pascal}}Output
func New{{.Name.Pascal}}{{.QueryName.Pascal}}Output *{{.Name.Pascal}}{{.QueryName.Pascal}}Output{
     return &{{.Name.Pascal}}{{.QueryName.Pascal}}Output{
    }
}
//{{.Name.Pascal}}{{.QueryName.Pascal}}Output : {{.Name.Raw }} {{.QueryName.Raw}} queryoutput struct
type {{.Name.Pascal}}{{.QueryName.Pascal}}Output struct {
	{{- range .Columns.Columns}}
	{{.Name}} {{if not .NotNull }}*{{end}}{{.ColumnType}}
	{{- end}}
}

//Convert : convert from  {{.Name.Raw }} model.
//Return any error if raised.
func (o *{{.Name.Pascal}}{{.QueryName.Pascal}}Output) Convert(model *models.{{.Name.Pascal}}Model) error{
    {{- range .Columns.Columns}}
	o.{{.Name}} = model.{{.Name}}
	{{- end}}
    return nil
}

//MustConvert{{.Name.Pascal}}{{.QueryName.Pascal}}Output : convert  {{.Name.Raw }} model to  {{.Name.Raw }} {{.QueryName.Raw}} output .
//Panic if any error raised.
func MustConvert{{.Name.Pascal}}{{.QueryName.Pascal}}Output(model *models.{{.Name.Pascal}}Model) *{{.Name.Pascal}}{{.QueryName.Pascal}}Output{
    output:=&{{.Name.Pascal}}{{.QueryName.Pascal}}Output{}
    err:=output.Convert(model)
    if err!=nil{
        panic(err)
    }
    return output
}


//MustConvertOutputList{{.Name.Pascal}}{{.QueryName.Pascal}} : convert  {{.Name.Raw }}{{.QueryName.Pascal}} models to  {{.Name.Raw }}{ {.QueryName.Raw}} output list.
//Panic if any error raised.
func MustConvertOutputList{{.Name.Pascal}}{{.QueryName.Pascal}}(models []*models.{{.Name.Pascal}}Model) []*{{.Name.Pascal}}{{.QueryName.Pascal}}Output{
    output:=make([]*{{.Name.Pascal}}{{.QueryName.Pascal}}Output,len(models))
    for k,v:=range models{
        o:=&{{.Name.Pascal}}{{.QueryName.Pascal}}Output{}
        err:=o.Convert(v)
        if err!=nil{
            panic(err)
        }
        output[k]=o
    }
    return output
}