package app

import (
	"github.com/herb-go/herb/cache"
	"github.com/herb-go/util"
	"github.com/herb-go/util/config"
	"github.com/herb-go/util/config/tomlconfig"
)
//{{.PascalWithParents}} cache module
var {{.PascalWithParents}} = cache.OptionConfigMap{}

func init() {
	config.RegisterLoader(util.Config("/{{.LowerWithParentDotSeparated}}.toml"), func(configpath string) {
		util.Must(tomlconfig.Load(configpath, &{{.PascalWithParents}}))
	})
}
